@model ScoreKeeper.Components.PlayerNames.ViewModel



<section id="player-names">
    <div>
        <h2>Rummy</h2>
        <p>@Model.Limit</p>
    </div>
    <div>
        <p>@Model.PlayerOne @Model.PlayerOneWins</p>
        <p>@Model.PlayerTwo @Model.PlayerTwoWins</p>
    </div>
</section>