@model ScoreKeeper.Components.PlayerNames.ViewModel



<section id="player-names">
    <div>
        <h2>Rummy</h2>
        <p>playing to <span>@Model.Limit</span></p>
    </div>
    <div>
        <p>@Model.PlayerOne </p>
        <span>@Model.PlayerOneWins</span>
        <p>@Model.PlayerTwo </p>
        <span>@Model.PlayerTwoWins</span>
    </div>
</section>