@model ScoreKeeper.Components.PlayerNames.ViewModel



<section id="player-names">
    <div>
        <h2>Rummy</h2>
        <p>playing to <span>@Model.Limit</span></p>
    </div>
    <div>
        <p>@Model.PlayerOne <span>@Model.PlayerOneWins</span></p>
        <p>@Model.PlayerTwo <span>@Model.PlayerTwoWins</span></p>
    </div>
</section>